ul {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  transition-duration: 1s;
  transition-property: background-color;
}

ul.dim {
  background-color: lightslategray;
}

.quoted {
  background: lightskyblue;
}

@media (min-width: 375px) and (max-width: 559px) {
  ul {
    width: 344px;
  }

  .countdown {
    top: 18px;
  }
}

@media (min-width: 560px) {
  ul {
    font-size: 24px;
    width: 528px;
  }

  .countdown {
    top: 27px;
  }
}

.stats {
  text-align: center;
}

hr {
  color: #eee;
}

.countdown {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
}

.tweet {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.tweet > * {
  grid-column: 1 / 4;
}

.tweet > button {
  grid-column: 2;
  margin: 16px 0;
}

.tweet > .text {
  margin: 4px 0;
}

.tweet > .created-at {
  grid-column: 1 / 2;
}

.tweet > i {
  grid-column: 3 / 4;
  justify-self: right;
}

.tweet > b {
  grid-column: 2 / 3;
  justify-self: center;
}
